<!-- Cainiao Empty -->
<script id="cainiao-empty-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">

            <h2 class="label-danger clearfix">
                <span>Cainiao:</span>
                <a href="\{{ trackerWebsite }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </h2>

            <p>Parece que este provedor precisa de um passo adicional para mostrar a informação de tracking.</p>
            <p>Abra <a target="_blank" href="https://global.cainiao.com/detail.htm?mailNoList=\{{ id }}">ESTE</a> website e clique no método de envio certo. (Costuma ser Pos Malasya)</p>
            <p>Só precisa de fazer este procedimento uma vez, nas proximas vezes o Geartrack já consegue aceder à informação.</p>
        </div>
    </div>
</script>
<!-- /Cainiao Empty -->