<footer class="footer">
    <div class="row">
        <div class="col-sm-3">
            <p>© {{ year }}
                <a target="_blank" href="http://hdn.pt">HdN.pt</a>
            </p>
        </div>
        <div class="col-sm-6 text-center central-text">
            <p>A informação apresentada é atualizada a cada 30 minutos. Funciona em dispositivos móveis.</p>
        </div>
        <div class="col-sm-3 text-right">
            <p>
                <a target="_blank" href="https://www.facebook.com/geartrackpt" class="mr10">Facebook</a>
                <a target="_blank" href="https://github.com/hdnpt/geartrack-website">Github</a>
            </p>
        </div>
    </div>
</footer>