<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <p>© {{ year }}
                <a target="_blank" href="http://hdn.pt">HdN.pt</a>
            </p>
        </div>
        <div class="col-md-6 text-right">
            <p>
                <a target="_blank" href="#">Github</a>
            </p>
        </div>
    </div>
</footer>