<!doctype html>
<html>
<head>
    <title>
        {{#if title}}
            {{title}}
        {{else}}
            Base Page Title
        {{/if}}
    </title>
</head>
<body>
{{#> hero-block}}
{{!-- Hero content goes here. --}}
{{/hero-block}}


{{#> scripts-block}}
{{!-- Custom scripts per page can be added. --}}
{{/scripts-block}}
</body>
</html>