<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Página não encontrada!</h2>

            <p>Voltar ao
                <a href="/">inicio</a>.
            </p>
        </div>

    </div>
</div>
