<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Sobre
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>
                            Quando encomenda algo do Gearbest a sua encomenda pode vir da China, Hong Kong, etc.
                        </p>
                        <p>
                            Usando o método de envio Spain Priority Line (ou Spain Express) a sua encomenda passa varios países até chegar a espanha e consequentemente portugal (evita alfandega). Existem 3 sites que pode usar para consultar o estado da encomenda: Sky56, Correos Express (Para quando a sua encomenda chega a espanha) e Adicional.pt (Quando a sua encomenda chega a portugal).</p>
                        <p>Este site apenas facilita o rastreamento da encomenda verificando o estado da sua encomenda nos sites dessas empresas intermediarias.</p>
                    </li>
                    <li class="list-group-item">
                        <p>Para obter o Shipping ID da encomenda:</p>
                        <ul>
                            <li>
                                <a target="_blank" href="http://www.gearbest.com/my-orders.html">
                                    Aceder às suas encomendas no Gearbest
                                </a>
                            </li>
                            <li>
                                Clicar numa encomenda (Onde diz Order number: ID <- Clicar neste id)
                            </li>
                            <li>
                                Escolher a aba "Track You Shippment" e copiar o "Shippment number" &nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="/img/example_gearbest.png">Ver imagem de ajuda</a>
                            </li>
                        </ul>
                        <br>
                        <p><strong>Deverá obter o Shippment number, é algo assim: PQ4F6P2342340181150W</strong></p>
                    </li>
                    <li class="list-group-item">
                        <p>Razões da mensagem <strong>[Tipo] Ainda não existem dados disponíveis.</strong>:</p>
                        <ul>
                            <li>Ainda não existe informação nos sites de rastreamento da encomenda.</li>
                            <ul>
                                <li>Depois de efectuar a encomenda pode demorar alguns dias até à Gearbest enviar a mesma. (Recebe um email a dizer quando a encomenda foi dispatched, e mesmo depois de estar dispatched ainda pode demorar algum tempo até haver informações de envio) Aguarde uns dias.
                                </li>
                                <li>O site da empresa de rastreamente pode estar offline (pouco provavel)</li>
                            </ul>
                            <li>O id introduzido está incorrecto, confirme se está certo.</li>
                        </ul>
                    </li>
                    <li class="list-group-item">Este website não guarda nenhuns dados sobre as suas encomendas.</li>
                    <li class="list-group-item">Não está afiliado com o Gearbest.</li>
                    <li class="list-group-item">Não gera lucro, é apenas informativo.</li>
                    <li class="list-group-item">Feito por:
                        <a target="_blank" href="http://iamfreee.github.io">Carlos Florêncio</a>
                        (carlosmflorencio@gmail.com)
                    </li>
                </ul>
            </div>

        </div>
    </div>
    {{> footer }}
</div>
