<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Sobre
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>Sobre a cache do servidor:</p>
                    <p>Toda a informação sobre uma encomenda proveninente de terceiros (Sky56, Correos, Adicional, etc) é guardada no servidor por 30 minutos. (Cache)</p>
                    <p>Durante o tempo de vida dessa cache, a informação apresentada sobre essa encomenda no website não muda.</p>
                    <p>Quando o tempo de vida da cache expirar, é recolhida novamente informação do site de terceiros.</p>
                    <p>Para aqueles que mantêm o site aberto, existe um refresh automatico a cada 31 minutos para actualizar a informação apresentada.</p>
                </li>
                <li class="list-group-item">Este website não guarda nenhuns dados sobre as suas encomendas.</li>
                <li class="list-group-item">Este website não usa cookies.</li>
                <li class="list-group-item">Não está afiliado com o Gearbest.</li>
                <li class="list-group-item">Não gera lucro, é apenas informativo.</li>
                <li class="list-group-item">Mete like na nossa página do <a target="_blank" href="https://www.facebook.com/geartrackpt">Facebook</a> para saberes quando lançamos novidades!</li>
            </ul>
        </div>

    </div>
</div>
