<div class="row">
    <div class="col-md-12">

        <div class="panel-group" id="accordion">

            <!-- Spain Priority Line -->
            <div class="faqHeader">Spain Priority Line</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c1">
                            Quanto tempo demora a encomenda a chegar a espanha, desde o momento que é enviada pelo Gearbest?
                        </a>
                    </h4>
                </div>
                <div id="c1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Pode levar entre 3 a 15 dias até aparecer a mensagem "Information sent to Spain", o mais comum é demorar uma semana (7 dias).</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c2">
                            A encomenda está no estado "Pre-registrado", quanto tempo leva até passar ao estado "Admitido" e aparecer a informação do Correos Express?
                        </a>
                    </h4>
                </div>
                <div id="c2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>A partir do momento em que aparece a mensagem "Information sent to Spain", pode levar entre 1 e 15 dias a aparecer o estado "Admitido".</p>
                        <p>O mais comum é demorar uma semana (7 dias).</p>
                        <p>A informação do Correos Express costuma aparecer um dia depois do estado passar a "Admitido", poderá demorar mais tempo em épocas altas.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c3">
                            Depois da encomenda ser admitida pelo Correos Express (Espanha) quanto tempo demora até chegar a minha casa?
                        </a>
                    </h4>
                </div>
                <div id="c3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Pode levar entre 3 a 15 dias, vai depender do tempo que a Correos demore a passar a encomenda à Adicional e o tempo que a Adicional demore a entregar.</p>
                        <p>O mais comum é demorar uma semana (7 dias).</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c4">
                            Quanto tempo pode levar a minha encomenda a ser entregue desde o momento que é enviada pelo Gearbest?
                        </a>
                    </h4>
                </div>
                <div id="c4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>No melhor dos casos pode ser entregue em duas semanas (ou até menos), em epócas altas como o natal pode demorar até um mês (ou mais).</p>
                        <p>O mais comum é demorar 3 semanas a ser entregue.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c5">
                            A encomenda vai parar na alfândega?
                        </a>
                    </h4>
                </div>
                <div id="c5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Usando o método de envio Spain priority line (Spain Express) a sua encomenda não passa pela alfândega.</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#c6">
                            A encomenda parece parada há muito tempo, como posso reclamar?
                        </a>
                    </h4>
                </div>
                <div id="c6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Todas as encomendas que fiz chegaram sempre sem problemas, mas para quem é mais impaciente:</p>
                        <ul>
                            <li>Contacto da
                                <a href="https://support.gearbest.com/ticket/ticket/index" target="_blank">Gearbest</a></li>
                            <li>Contacto do <a href="https://www.correosexpress.com/web/correosexpress/consultanos" target="_blank">Correos Express</a></li>
                            <li>Contacto da <a href="http://www.adicional.pt/contato.html" target="_blank">Adicional</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Spain Priority Line -->

            <!-- Website -->
            <div class="faqHeader">Outros</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#cc1">
                            Como obter o Shipping ID de uma encomenda?
                        </a>
                    </h4>
                </div>
                <div id="cc1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a target="_blank" href="http://www.gearbest.com/my-orders.html">
                                    Aceder às suas encomendas no Gearbest
                                </a>
                            </li>
                            <li>
                                Clicar numa encomenda (Onde diz Order number: ID <- Clicar neste id)
                            </li>
                            <li>
                                Escolher a aba "Track You Shippment" e copiar o "Shippment number" &nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="/img/example_gearbest.png">Ver imagem de ajuda</a>
                            </li>
                        </ul>
                        <br>
                        <p><strong>Deverá obter o Shippment number, é algo assim: PQ4F6P2342340181150W</strong></p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#cc2">
                            Porque razão aparece a mensagem "Ainda existe informação disponível para este ID."?
                        </a>
                    </h4>
                </div>
                <div id="cc2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Ainda não existe informação nos sites de rastreamento da encomenda.</li>
                            <ul>
                                <li>Depois de efectuar a encomenda pode demorar alguns dias até à Gearbest enviar a mesma. (Recebe um email a dizer quando a encomenda foi dispatched, e mesmo depois de estar dispatched ainda pode demorar algum tempo até haver informações de envio) Aguarde uns dias.
                                </li>
                                <li>O site da empresa de rastreamente pode estar offline (pouco provavel)</li>
                            </ul>
                            <li>O id introduzido está incorrecto, confirme se está certo.</li>
                            <li>O Geartrack pode não ter conseguido obter a informação nesse instante, aguarde 10 min até a cache do Geartrack expirar e experimente novamente. (Situação pouco provavel)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#cc3">
                            Como adicionar um atalho ao Home screen no Android?
                        </a>
                    </h4>
                </div>
                <div id="cc3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Usando o Chrome:</li>
                            <img src="/img/android.png" class="img-responsive">
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#cc4">
                            As datas dos estados da minha encomenda não batem certo ou estão no futuro
                        </a>
                    </h4>
                </div>
                <div id="cc4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>As datas apresentadas são as que os sites onde vamos obter informação mostram.</p>
                        <p>Essas datas poderão estar no futuro ou no passado consoante o fuso horário desse país.</p>
                        <p>As diferenças serão no máximo 12 horas para os países de origem.</p>
                    </div>
                </div>
            </div>
            <!-- /Website -->
        </div>

        <div class="well" role="alert">
            <strong>Disclaimer</strong>: As respostas são meramente opiniões sem qualquer carácter oficial.
        </div>

    </div>
</div>
