<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="description" content="Localiza encomendas do Gearbest que usam o método Spain Priority Line">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap_lumen.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>

    {{> navbar }}

    {{{ body }}}

    <!-- JS -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/handlebars.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>