<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Notícias
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-07-6T022:34:33+01:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado dados da Malasya Pos (além do Sky56) para ids da Gearbest <strong>GEG..</strong>.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-07-3T018:54:33+01:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Dados da <strong>Adicional</strong> novamente online!</p>
                            <p>Caso tenhas recebido a encomenda pela Expresso24 entra em contacto connosco!</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-06-30T017:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ids do tipo <strong>TH..</strong> do Gearbest.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-06-27T016:04:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Tempo de cache alterado para <strong>30 minutos</strong>. Agora sempre que um tracker retorne dados, esses dados são guardados por 30 minutos antes de irmos buscar novos dados (Estávamos a sobrecarregar alguns servidores).</p>
                            <p>Adicionado suporte para <strong>17track</strong> em alguns ids.</p>
                            <p>A partir de agora aceitamos todo o tipo de ids, usamos o 17track e o track24 para ir buscar informação. Caso um id esteja associado a um tracker errado fala connosco para corrigirmos!</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-06-24T022:04:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para a transportadora <strong>MRW</strong> usada nas encomendas da Amazon. Ids numéricos.</p>
                            <p>Adicionado suporte para India Post <strong>R..IN</strong> usado pelo Ebay.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-06-08T016:34:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ID's do tipo <strong>R..DE</strong> do AliExpress. Por agora só mostra informação dos CTT.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-05-31T012:34:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ID's do tipo <strong>R..LA</strong> Laos Post do AliExpress.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-05-28T021:44:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ID's do tipo <strong>U..SE</strong> Sweden Post do Ebay.</p>
                            <p>Adicionado suporte para ID's do tipo <strong>KWT..</strong> do Ebay.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-05-26T016:44:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ID's do tipo <strong>A..</strong> do Ebay.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-05-24T013:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ID's do tipo <strong>AA..YN</strong> do AliExpress.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-05-19T015:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ID's do tipo <strong>YT..</strong> do Geekbuying.</p>
                            <p>Adicionado suporte para ID's do tipo <strong>LA..</strong> do Ebay.</p>
                            <p>Adicionado suporte para ID's do tipo <strong>HK..AM</strong> do Ebay.</p>
                            <p>Adicionado suporte para ID's do tipo <strong>EY..</strong> do Ebay.</p>
                            <p>Adicionado suporte para ID's do tipo <strong>R..GB</strong> do Ebay.</p>
                            <p>Adicionado suporte para ID's numéricos do método de envio Ptt Turkey do Ebay.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-05-18T016:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o tipo de Id's <strong>UPA..</strong> do Ebay.</p>
                            <p>Adicionado suporte para o tipo de Id's <strong>BZ..CN</strong> do AliExpress.</p>
                            <p>Adicionado suporte para o tipo de Id's <strong>CP..CN</strong> do AliExpress.</p>
                            <p>Adicionado suporte para o tracker DHL, aceita ids numéricos (Usado em encomendas do Gearbest PT). </p>
                            <p>Suporte inicial para ids da Gearbest <strong>R..HU</strong> e <strong>R..AT</strong>.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-28T018:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o tipo de Id's <strong>YF..</strong> do Ebay!</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-27T001:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o tipo de Id's <strong>ID..CN</strong> do Ebay!</p>
                            <p>Adicionado suporte para Id's dos CTT Expresso <strong>E..PT, R..PT e L..PT</strong>.</p>
                            <p>Agora é apresentada informação do Panasia para encomendas Priority Line, pois parece que o Sky56 foi substituído.</p>
                            <p>Novo domínio .pt: <a href="https://geartrack.pt">https://geartrack.pt</a>. Este novo domínio vai passar a ser o principal quando introduzirmos os registos! <br>Começa já a usar! (É preciso introduzir os ids a seguir de novo)</p>
                            <p>Agora todos os trackers contêm o seu link no lado direito!</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-21T017:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o tipo de Id's <strong>S000011754755</strong>.</p>
                            <p>É apresentada informação do tracker Cainiao.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-20T012:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Trocado o tracking para ids do tipo <strong>R..MY</strong> da Malasya Pos para o original. Pois
                            o Cainiao estava a precisar de interação.</p>
                            <p>Adicionado mais um tracker para ids do tipo <strong>SB..</strong> da Switzerland Post Unregistered.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-14T016:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio Sweden Registered da Gearbest -
                                <strong>Q..XX</strong>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-07T03:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio AliExpress Standard Shipping -
                                <strong>LP..</strong></p>
                            <p>Adicionado suporte para o método de envio AliExpress Special Line YW -
                                <strong>U..YP</strong></p>
                            <p>Ambos mostram informações do provedor Yanwen se existir e Cainiao.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-03T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Arranjámos forma de aceder à informação antiga do Correos Express de novo.</p>
                            <p><strong>Apresentamos os dados da versão antiga e nova do Correos Express.</strong></p>
                            <p><strong>Dados da Adicional e Expresso24 novamente disponíveis.</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-02T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio China EMS ePacket do AliExpress <strong>L..CN</strong>.</p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Cainiao</li>
                            </ul>
                            <p><strong>Os Correos Express têm um novo design! Neste momento não estão a fornecer os IDs para consultarmos a informação na adicional e expresso24.</strong></p>
                            <p><strong>Enquanto eles não disponibilizarem de novo essa informação, nada podemos fazer. Tentem <a href="https://www.correosexpress.com/web/correosexpress/consultanos" target="_blank">contactá-los</a> para se sentirem obrigados a adicionar de novo essa informação.</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-01T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio Netherlands Post do AliExpress <strong>R..NL</strong>.</p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Post NL</li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-31T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio China Post do AliExpress <strong>R..CN</strong>.</p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Track China Post</li>
                            </ul>
                            <p>Adicionado suporte para o método de envio China Post do AliExpress <strong>ID numérico</strong>.</p>
                            <ul class="mb10">
                                <li>Apenas informação do Track China Post disponível.</li>
                            </ul>
                            <p>Adicionado suporte também para o método de envio via Sweden do AliExpress <strong>R..SE</strong>. </p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Direct Link.</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-30T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada informação proveniente do <strong>Correos.es</strong> para o método de envio Priority Line.</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-29T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p><strong>Novo visual:</strong> A maneira de apresentação dos estados e mensagens está renovada.</p>
                            <p>Início do suporte para Ids do tipo <strong>R..SG e R..MY</strong> do <strong>Aliexpress</strong>.</p>
                            <p>É apresentada informação do CTT e Singpost para ids de Singapura e Cainiao para ids da Malásia.</p>
                            <p>Funcionalidade de registo a caminho.</p>
                            <p>Nova página de <a target="_blank" href="https://www.facebook.com/geartrackpt">Facebook</a>, mete já like!</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-15T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada FAQ: <strong>Como adicionar um atalho ao Home screen no Android?</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-15T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ids do tipo <strong>SB3000023412</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-12T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para <strong>Switzerland Post Unregistered</strong></p>
                            <p>Já podes fazer track de ids do tipo: <strong>GEGMY00023153</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                            <p>Uma nova versão do Geartrack está em construção, vai ter suporte a notificações quando ocorre alterações no estado das encomendas e mais novidades.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-01-01T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para <strong>Malasya Pos</strong></p>
                            <p>Já podes fazer track de ids do tipo: <strong>SYBPL3435312</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-24T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada informação da Expresso24, pois parece que a Correos Express anda a usar esta empresa para algumas encomendas em vez da Adicional.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-22T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada nova página com
                                <a href="/faqs">perguntas frequentes</a>.</p>
                            <p>Página
                                <a href="/about">Sobre</a> também foi atualizada.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-17T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio <strong>Bpost International</strong>.</p>
                            <p>Já podes fazer track de ids do tipo: <strong>LVS236700681531</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                            <p>Sugestões de novos métodos de envio é só enviar email.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-14T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio <strong>Netherlands
                                Post surface mail</strong>.</p>
                            <p>Já podes fazer track de ids do tipo: <strong>NL14812456123607</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

{{#append 'scripts'}}
    <script src="js/vendor/jquery.timeago.js"></script>
    <script>
        jQuery.timeago.settings.strings = {
            suffixAgo: "atrás",
            suffixFromNow: "a partir de agora",
            seconds: "menos de um minuto",
            minute: "um minuto",
            minutes: "%d minutos",
            hour: "uma hora",
            hours: "%d horas",
            day: "um dia",
            days: "%d dias",
            month: "um mês",
            months: "%d meses",
            year: "um ano",
            years: "%d anos"
        }
        jQuery(document).ready(function() {
            jQuery("time.timeago").timeago();
        });
    </script>
{{/append}}
