<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Noticias
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>15/03/2017</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada FAQ: <strong>Como adicionar um atalho ao Home screen no Android?</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>15/03/2017</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ids do tipo <strong>SB3000023412</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>12/03/2017</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para <strong>Switzerland Post Unregistered</strong></p>
                            <p>Já pode fazer track de ids do tipo: <strong>GEGMY00023153</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                            <p>Uma nova versão do Geartrack está em construção, vai ter suporte a notificações quando ocorre alterações no estado das encomendas e mais novidades.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>01/01/2017</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para <strong>Malasya Pos</strong></p>
                            <p>Já pode fazer track de ids do tipo: <strong>SYBPL3435312</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>24/12/2016</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada informação da Expresso24, pois parece que a Correos Express anda a usar esta empresa para algumas encomendas em vez da Adicional.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>22/12/2016</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada nova página com
                                <a href="/faqs">perguntas frequentes</a>.</p>
                            <p>Página
                                <a href="/about">Sobre</a> também foi atualizada.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>17/12/2016</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio <strong>Bpost International</strong>.</p>
                            <p>Já pode fazer track de ids do tipo: <strong>LVS236700681531</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                            <p>Sugestões de novos métodos de envio é só enviar email.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>14/12/2016</strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio <strong>Netherlands
                                Post surface mail</strong>.</p>
                            <p>Já pode fazer track de ids do tipo: <strong>NL14812456123607</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
