<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Notícias
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-03T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Arranjámos forma de aceder à informação antiga do Correos Express de novo.</p>
                            <p><strong>Apresentamos os dados da versão antiga e nova do Correos Express.</strong></p>
                            <p><strong>Dados da Adicional e Expresso24 novamente disponíveis.</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-02T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio China EMS ePacket do AliExpress <strong>L..CN</strong>.</p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Cainiao</li>
                            </ul>
                            <p><strong>Os Correos Express têm um novo design! Neste momento não estão a fornecer os IDs para consultarmos a informação na adicional e expresso24.</strong></p>
                            <p><strong>Enquanto eles não disponibilizarem de novo essa informação, nada podemos fazer. Tentem <a href="https://www.correosexpress.com/web/correosexpress/consultanos" target="_blank">contactá-los</a> para se sentirem obrigados a adicionar de novo essa informação.</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-04-01T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio Netherlands Post do AliExpress <strong>R..NL</strong>.</p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Post NL</li>
                            </ul>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-31T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio China Post do AliExpress <strong>R..CN</strong>.</p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Track China Post</li>
                            </ul>
                            <p>Adicionado suporte para o método de envio China Post do AliExpress <strong>ID numérico</strong>.</p>
                            <ul class="mb10">
                                <li>Apenas informação do Track China Post disponível.</li>
                            </ul>
                            <p>Adicionado suporte também para o método de envio via Sweden do AliExpress <strong>R..SE</strong>. </p>
                            <ul class="mb10">
                                <li>Mostra informação dos CTT e Direct Link.</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-30T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada informação proveniente do <strong>Correos.es</strong> para o método de envio Priority Line.</p>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-29T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p><strong>Novo visual:</strong> A maneira de apresentação dos estados e mensagens está renovada.</p>
                            <p>Início do suporte para Ids do tipo <strong>R..SG e R..MY</strong> do <strong>Aliexpress</strong>.</p>
                            <p>É apresentada informação do CTT e Singpost para ids de Singapura e Cainiao para ids da Malásia.</p>
                            <p>Funcionalidade de registo a caminho.</p>
                            <p>Nova página de <a target="_blank" href="https://www.facebook.com/geartrackpt">Facebook</a>, mete já like!</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-15T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada FAQ: <strong>Como adicionar um atalho ao Home screen no Android?</strong></p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-15T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para ids do tipo <strong>SB3000023412</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-03-12T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para <strong>Switzerland Post Unregistered</strong></p>
                            <p>Já podes fazer track de ids do tipo: <strong>GEGMY00023153</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                            <p>Uma nova versão do Geartrack está em construção, vai ter suporte a notificações quando ocorre alterações no estado das encomendas e mais novidades.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2017-01-01T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para <strong>Malasya Pos</strong></p>
                            <p>Já podes fazer track de ids do tipo: <strong>SYBPL3435312</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-24T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada informação da Expresso24, pois parece que a Correos Express anda a usar esta empresa para algumas encomendas em vez da Adicional.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-22T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionada nova página com
                                <a href="/faqs">perguntas frequentes</a>.</p>
                            <p>Página
                                <a href="/about">Sobre</a> também foi atualizada.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-17T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio <strong>Bpost International</strong>.</p>
                            <p>Já podes fazer track de ids do tipo: <strong>LVS236700681531</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                            <p>Sugestões de novos métodos de envio é só enviar email.</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <strong>
                                <time class="timeago" datetime="2016-12-14T02:24:33+00:00"></time>
                            </strong>
                        </div>
                        <div class="col-sm-10">
                            <p>Adicionado suporte para o método de envio <strong>Netherlands
                                Post surface mail</strong>.</p>
                            <p>Já podes fazer track de ids do tipo: <strong>NL14812456123607</strong></p>
                            <p>Apenas o site Sky56 é usado para obter estas informações.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

{{#section 'script'}}
    <script src="js/vendor/jquery.timeago.js"></script>
    <script>
        jQuery.timeago.settings.strings = {
            suffixAgo: "atrás",
            suffixFromNow: "a partir de agora",
            seconds: "menos de um minuto",
            minute: "um minuto",
            minutes: "%d minutos",
            hour: "uma hora",
            hours: "%d horas",
            day: "um dia",
            days: "%d dias",
            month: "um mês",
            months: "%d meses",
            year: "um ano",
            years: "%d anos"
        }
        jQuery(document).ready(function() {
            jQuery("time.timeago").timeago();
        });
    </script>
{{/section}}
