body {
    padding-top: 70px;
}

.track-entries {
    font-size: 14px;
    line-height: 14px;
}

.track-entries h4{
    padding: 0;
    margin: 0 0 2px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-entries p {
    margin: 0;
}

.track-entries .remove-container {
    padding-top: 12px;
}

.track h4 {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.track .right-id {
    font-size: 12px;
    float: right;
}

.center-img {
    margin: 0 auto;
    display: block;
}

.track .panel-body {
    padding: 5px 15px;
}

.track h2 {
    margin: 5px 0 10px 0;
    font-size: 25px;
}

.track h3 {
    margin: 5px 0 10px 0;
    font-size: 18px;
}

.heading {
    color: white;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

#hide-info {
    display: none;
}

.close-btn {
    position: absolute;
    right: 33px;
    top: 13px;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* FAQs
   ========================================================================== */
#accordion a:hover,
#accordion a:focus
{
    text-decoration: none;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
